header {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  right: 39%;
  text-align: center;
  nav{
    float: right;
    margin: 0 auto;
  }
  ul{
    float: right;
    text-decoration: none;
    margin: 0;
    padding: 0;

  }
  li{
    float: left;
    background-color: white;
    border: 1px solid #333;
    padding: 15px;
    display: inline-block;

  }

}
