header {
  width: 100%;
  position: absolute;
  right: 39%;
  text-align: center;
  nav{
    float: right;
    
  }
  ul{
    float: right;



  }
  li{
    float: left;
    background-color: white;
    border: 5px solid #559aec;
    padding: 15px;
    display: inline-block;

  }
  li:hover {
  background-color: #969696;
  color: #4c68ab;

}

}
