.project-section{
  width: 100%;
  float: left;
  height: auto;
  &:nth-of-type(odd){
    div {
      float: right;
      height: 365px;
    }
  }
  div{
    width: 50%;
    height: 335px;
    margin: 0 auto;
    display: inline-block;
    background-color: #4d69ab;
    float: left;
    // background: #777777;



  }
    h1{
      height: auto;
      display: inline-block;
      margin: 0 auto;
      width: 100%;
      float: left;
      text-align: center;
      text-decoration: underline;
      text-decoration-color: #374071;

    }
    p{
      color: #72a1ff;
      font-size: 20px;
      text-align: center;
      padding: 14px 60px;
      display: block;
      float: left;

    }
  img{
    width: 100%;
    height: auto;
    margin-top: -4px;

  }
}
